<div class="flex flex-col justify-start items-center m-10">
<div class="mb-6 self-start">
  <span class="text-4xl text-blue-950 self-start">Terceros</span>
</div>

<div
  class="container-buttons-search grid grid-cols-2 w-full mb-4 items-center justify-center mr-5"
>
  <div
    class="border-b-2 border-blue-800 rounded-md w-4/5 col-span-1 flex ml-3"
  >
    <svg
      class="h-6 w-6 text-blue-500 mr-2"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <circle cx="11" cy="11" r="8" />
      <line x1="21" y1="21" x2="16.65" y2="16.65" />
    </svg>
    <form [formGroup]="form" class="flex justify-start items-start">
      <input
        type="text"
        class="mb-2 w-full outline-none bg-transparent"
        id="stringSearch"
        placeholder="Buscar"
        name="stringSearch"
        formControlName= "stringSearch"
      />
    </form>
  </div>

  <div class="p-4 col-span-1 w-full flex items-end justify-end text-lg">
    <button
      class= "h-10 p-1 min-w-14 block w-28 rounded-xl bg-blue-950 text-white"
      (click)="redirectTo('third-creation')"
    >
      Agregar
    </button>
  </div>
</div>



<div class="lg:text-md mx-auto w-full">
  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200">
      <thead class="bg-gray-200 ">
        <tr class="overflow-hidden">
          <th
            scope="col"
            class="px-6 py-3 text-left text-lg text-blue-950  font-bold overflow-hidden"
            *ngFor="let col of columns"
          >
            {{ col.title }}
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <tr
          *ngFor="
            let third of data | filterList : form.value.stringSearch"
          class="hover:bg-gray-100"
        >
          <td class="px-6 py-4 whitespace-nowrap">{{ third.idNumber }}</td>
          <td class="px-6 py-4 whitespace-nowrap">{{ third.names ? third.names + ' ' + third.lastNames : third.socialReason }}</td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ third.typeId }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">
            {{ third.phoneNumber }}
          </td>
          <td class="px-6 py-4 whitespace-nowrap">{{ third.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>