<app-header (stateSideBar)="changeStateSideBar($event)"></app-header>
<div class="flex">

    <app-sidebar [stateHidden]="stateSideBar" class=""></app-sidebar>

  <div class="flex">
    <div class="bg-gray-100">
      <router-outlet class="h-full"></router-outlet>
    </div>
  </div>
</div>
